/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #e5e5e5;
  display: flex;
  justify-content: center;
  padding: 30px 0;
  font-family: Arial, sans-serif;
}

/* khung chứa toàn bộ*/
.screen-box {
  width: 1200px;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
}

/* BỐ CỤC DESKTOP */
.layout {
  display: flex;
  height: 600px;
}

/* phần hình ảnh thiên lý*/
.left-side {
  flex: 2;
}

.bg-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* phần logo và form  */
.right-side {
  flex: 1;
  padding: 30px;
  text-align: center;
}

.logo {
  width: 200px;
  margin-bottom: 20px;
}

.input-group {
  display: flex;
  align-items: center;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px 14px;
  margin-bottom: 15px;
}

.input-group .icon {
  margin-right: 10px;
  font-size: 18px;
}

.input-group input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 16px;
}

.btn {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  margin-top: 10px;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.btn.login {
  background: #37bd74;
  color: white;
}

.btn.notify {
  background: #ff6666;
  color: white;
}

/*footer*/
.footered {
  background: #37bd74;
  padding: 20px 0;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  position: relative;
}

.footer-text {
  display: inline-block;
  font-size: 25px;
  color: white;
  font-weight: bold;
  animation: marquee 13s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

/* ----------------------------- */
/*         MOBILE MODE           */
/* ----------------------------- */
@media (max-width: 768px) {
  .screen-box {
    width: 100%;
    border-radius: 0;
  }

  .layout {
    flex-direction: column; /* biến 2 cột thành 1 */
    height: auto;
  }

  .left-side {
    height: 250px; /* thu nhỏ hình */
  }

  .right-side {
    width: 100%;
    padding: 20px;
  }

  .logo {
    width: 150px;
  }

  .btn,
  .input-group input {
    font-size: 18px;
  }
}
